/* ---------------------------- header ------------------------------------ */
li{
    a{
        font-size: 23px; 
        margin-right: 10px;
        &:hover{
            background: $bg-h;
        }
    }
}
a{
    &:link{
        color: $secondary;
        text-decoration: none;
}
    &:hover{
        color: $bg-SubT;
        text-decoration: none;
        border-radius: 20px;
}
}
.visited{
    &_item:visited{
        color:$secondary;
        text-decoration: none;
    }
}
.bg-1{
    background: $bg-1;
}

/* ------------------------------- /-header ------------------------------------------- */
/* ------------------------------- footer ------------------------------------------- */
.footer{
&_h3{
    font-style:italic; 
    text-align: center;
}
&_p{
    font-size: 13px;
}
&_icon{
    width: 30px;
    height: 30px;
}
}

/* ------------------------------- /-footer ------------------------------------------- */
