/* ------------------------------------ Contact----------------------------------- */
.form{
    border-radius: 20px; 
    color: $secondary;
}

.fieldset{
    background-color: #0d2033;
    border:2px solid $secondary; 
    border-radius: 20px;
    margin: 10px;
}
.form_h3 {
    color: $secondary;
    text-align: left;
    font-style: italic;
    font-size: 25px;
    width: 100%;
    margin: 5px 0 0px 10px; }

.form_p{
    @include text ($t-left, null, $fontS-p);
        padding: 1rem;
        margin-right: 30px;
        margin-left: map-get($espacios, mL-p);
        color: $secondary;
}
.form_pleceholder{
    width: 100%; 
    margin-right: 10px; 
    margin-bottom: 1rem; 
    font-style: italic;
}

.f_btn{
    float:right; 
    margin-top: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    &_seleccion{
        width: 70px; 
        margin-right: 5px;
        border-radius:10px; 
    }
}
.send{
    color: green; 
    border: 2px solid green;
    font-weight: bolder;
}
.borrar{
    color: red; 
    border: 2px solid red;
    font-weight: bolder;
}
.style-file{
    display:flexbox; 
    max-width: 170px;
    border-radius: 15px;
}
.style_1{
    font-size: 20px; 
    padding-left: 10px; 
    padding-right: 10px;
}

/* ------------------------------------ /Contact----------------------------------- */